DATABASE_URL=

# JWT Access Token
JWT_SECRET=
JWT_EXPIRES_IN=15m

# JWT Refresh Token
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=30d

# API keys
GOOGLE_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=